<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-place
      [places] = "places | async | placesFilter:currentTravelType"
      [travelTypes] = "travelTypes"
      (onSelectPlace)="handleSelectPlace($event)"
      (onSelectTravelType)="handleSelectTravelType($event)"
    ></app-place>
  </div>
  <div class="element-right">
    <app-weather [place]="currentPlace"></app-weather>
    <app-card-place [place]="currentPlace"></app-card-place>
  </div>
  <div class="clear"></div>
</div>

